body {
    font-family: sans-serif;
}

.wizard_step_contaniner {
    width: 50%;
    min-height: 900px;
    height: auto;
    box-sizing: border-box;
    margin-top: 75px;
    background-image: linear-gradient(180deg,#e2f3ea,#fff);
    padding: 20px;
    min-width: 759px;
}

.wizard_step_header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wizard_stepHighlight_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.stepHightlight_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.step_container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.step1_name_contanier {
    width: 70%;
    margin-bottom: 3px;
}

.step1_propName_input {
    border-radius: 2px;
    font-size: 15px;
    width: 70%;
}

.step1_propDescription_container {
    width: 70%;
    margin-bottom: 3px;
    margin-top: 15px;
}

.step1_propDescription_textarea {
    height: 100px;
    resize: none;
}

.step1_btn_container {
    margin-top: 50px;
    display: flex;
    width: 70%;
    justify-content: center;
}

.next_step_btn {
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #3b5249;    
}